@import "../variables.scss";

.baseForm {
  &__select {
    max-width: 200px; // Максимальна ширина кнопки
    padding: clamp(8px, 2vw, 10px) clamp(10px, 3vw, 38px); // Адаптивні відступи
    height: clamp(35px, 4vw, 40px); // Адаптивна висота
    font-size: clamp(14px, 2vw, 16px); // Адаптивний розмір шрифту
    border-radius: 3.13rem;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    white-space: nowrap; // Запобігає переносу тексту всередині кнопки
    font-size: 13px;
    font-weight: 400;

    &-select {
      box-shadow: 0rem 0rem 0.56rem 0rem rgba(25, 25, 25, 0.1);
      color: $background-color;
      background: $text-color;
    }

    &-icon {
      height: clamp(35px, 4vw, 40px); // Адаптивна висота
      font-size: clamp(14px, 2vw, 16px); // Адаптивний розмір шрифту
      border-radius: 3.13rem;
      background: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      white-space: nowrap; // Запобігає переносу тексту всередині кнопки
    }
  }


}



