@import "../variables.scss";

.baseForm {
  border-radius: 20px;
  box-shadow: 0px 0px 9px 0px rgba(25, 25, 25, 0.1);
  background: rgb(255, 255, 255);
  padding: 10px;

  // .range-selector {
  //   position: relative;
  //   width: 300px;

  //   &__label {
  //     display: none; // Сховаємо, але залишимо для доступності
  //   }

  //   &__input {
  //     position: absolute;
  //     width: 100%;
  //     pointer-events: none;
  //     background: none;
  //     -webkit-appearance: none;

  //     &--min {
  //       z-index: 2;
  //     }

  //     &--max {
  //       z-index: 1;
  //     }

  //     &::-webkit-slider-thumb {
  //       pointer-events: all;
  //       width: 15px;
  //       height: 15px;
  //       background: $primary-color;
  //       border: none;
  //       border-radius: 50%;
  //       cursor: pointer;
  //       -webkit-appearance: none;
  //       z-index: 10;
  //       transform: translateY(1px);
  //     }

  //     &::-moz-range-thumb {
  //       width: 16px;
  //       height: 16px;
  //       background: $primary-color;
  //       border: none;
  //       border-radius: 50%;
  //       cursor: pointer;
  //     }
  //   }

  //   &__track {
  //     position: relative;
  //     height: 6px;
  //     background: #e0e0e0;
  //     border-radius: 3px;
  //     margin: 20px 0;

  //     &::before {
  //       content: '';
  //       position: absolute;
  //       height: 100%;
  //       background: $primary-color;
  //       border-radius: 3px;
  //       z-index: 1;
  //     }
  //   }

  //   &__range {
  //     position: absolute;
  //     height: 6px;
  //     background: $primary-color;
  //     border-radius: 3px;
  //   }

  //   &__values {
  //     text-align: center;
  //     margin-top: 10px;
  //     font-size: 14px;
  //   }

  //   &__value {
  //     font-weight: bold;
  //     color: #333;
  //   }

  //   &__inputs {
  //     display: flex;
  //     justify-content: space-between;
  //     margin-bottom: 10px;

  //     label {
  //       font-size: 14px;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;
  //     }

  //     input {
  //       width: 60px;
  //       text-align: center;
  //       font-size: 14px;
  //       padding: 5px;
  //       border: 1px solid #ccc;
  //       border-radius: 4px;
  //     }
  //   }
  // }

  &__select {
    max-width: 200px; // Максимальна ширина кнопки
    padding: clamp(8px, 2vw, 10px) clamp(10px, 3vw, 38px); // Адаптивні відступи
    height: clamp(35px, 4vw, 40px); // Адаптивна висота
    font-size: clamp(14px, 2vw, 16px); // Адаптивний розмір шрифту
    border-radius: 3.13rem;
    background: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    white-space: nowrap; // Запобігає переносу тексту всередині кнопки
    font-size: 13px;
    font-weight: 400;

    &-select {
      box-shadow: 0rem 0rem 0.56rem 0rem rgba(25, 25, 25, 0.1);
      color: $background-color;
      background: $text-color;
    }

    &-icon {
      height: clamp(35px, 4vw, 40px); // Адаптивна висота
      font-size: clamp(14px, 2vw, 16px); // Адаптивний розмір шрифту
      border-radius: 3.13rem;
      background: rgb(255, 255, 255);
      border: none;
      cursor: pointer;
      white-space: nowrap; // Запобігає переносу тексту всередині кнопки
    }
  }

}