@import "../variables.scss";

.about {
	&__title {
		font-size: 2em;
		color: $primary-color;
		text-align: center;
		margin-bottom: 24px;
	}

	&__description {
		color: $text-color;
		border-radius: 2.19rem;
		box-shadow: 0rem 0rem 0.56rem 0rem rgba(25, 25, 25, 0.1);
		background: rgb(255, 255, 255);
		padding: 1.5rem;
		overflow: hidden;
		width: 100%;

		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 20px;

		&__icon {
			font-size: 24px;
			color: $primary-color;
		}
	}

	&__text {
		display: block;

		a {
			text-decoration: none;
			transition: color $transition-duration;

			&:hover {
				color: $primary-color;
			}
		}

		span {
			font-weight: bold;
			color: $secondary-color;
		}
	}
}

// Адаптивність
@media (max-width: 768px) {
	.about {
		&__description {
			grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		}
	}
}

@media (min-width: 1024px) {
	.about {
		&__description {
		}
	}
}
