@import "../variables.scss";

.advantage {
  display: flex;
  flex-direction: column;
  padding: 20px;

  border: 0.13rem solid rgb(25, 25, 25);
  border-radius: 1.25rem;
  width: 100%;

  position: relative;
  transition: 0.4s;

  gap: 35px;

  &__footer {
    position: absolute;
    bottom: 10px;
    right: 15px;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.75rem;
  }

  &__body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;

    @media (max-width: $breakpoint-lg) {
      grid-template-columns: 1fr 1fr;
    }
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }
  }
}

.advantage span.icon {
    float: right;
}
.advantage span.icon svg path {
    fill: red;
}

.advantage:hover {
    background: red;
    color: white;
}

.advantage:hover span.icon svg path {
    fill: white;
}