/* banner video */
.video-background iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 177.78vh;
    height: 100vh;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: -1;
}

/* banner form */

.form-control.error {
    border-color: red;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
    display: block;
}
