@import "./../variables.scss";

.btn {
	cursor: pointer;
	width: max-content;
	hyphens: manual;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 13.5px 24.5px;
	border-radius: 50px;
	border: none;
	background-color: $primary-color;

    &-ukraine{
        background: linear-gradient(0.00deg, rgb(182, 186, 0),rgb(185, 174, 30) 11.9%,rgb(163, 147, 6) 39.4%,rgb(125, 142, 26) 44.9%,rgb(13, 80, 127) 71.4%,rgb(0, 57, 98) 100%);
    }
}
