@import "./../variables.scss";

.btn {
	cursor: pointer;
	width: max-content;
	hyphens: manual;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 11px 11.5px;
	border-radius: 50px;
	border: none;
	background-color: $primary-color;
	@media screen and (max-width: 1322px) {
		font-size: 14px;
		padding: 5px 11.5px;
	}
	@media screen and (max-width: $breakpoint-xl) {
		font-size: 10px;
	}
	&-outlined {
		cursor: pointer;
		background-color: #ffffff00;
		border: 0.06rem solid rgb(25, 25, 25);
		border-radius: 3.13rem;
		padding: 11px 36px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		&-contrast {
			padding: 11px 36px;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			border: 0.06rem solid #fff;
			border-radius: 3.13rem;
			color: #fff;
			background-color: #ffffff00;
		}
	}

	&-ukraine {
		background: linear-gradient(
			0deg,
			rgb(182, 186, 0),
			rgb(185, 174, 30) 11.9%,
			rgb(163, 147, 6) 39.4%,
			rgb(125, 142, 26) 44.9%,
			rgb(13, 80, 127) 71.4%,
			rgb(0, 57, 98) 100%
		);
	}
}
