@import '../variables.scss';

.card-car {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: #fff;
  border-radius: 2.19rem;
  gap: 17px;
  max-width: 360px; // Базовий розмір картки
  justify-self: center;
  overflow: hidden;

  h2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(0.6rem, 3.2vw, 1.4rem);
}

  &__titel {
    font-size: clamp(0.6rem, 4.2vw, 1.5rem); // Менший розмір шрифту
  }

  &__header {
    position: relative;
    max-height: 257px;

    &__a-wrapper {
       display: flex;
      max-height: 257px;
      aspect-ratio: 1.33;
    }
  }

  &__body {
    display: grid;
     grid-template-columns: min-content min-content;
    justify-content: space-between;
    gap: 12px; // Відступи між елементами у відсотках
    height: auto;

    p {
      display: flex;
      align-items: center;
      font-size: clamp(0.625rem, 0.25rem + 1vw, 1rem);
      width: fit-content;


      & .card-car__body-icon {
        margin-right: 15px;
        filter: invert(58%) sepia(89%) saturate(2%) hue-rotate(314deg) brightness(88%) contrast(88%);
      }
    }

    @media (max-width: $breakpoint-md) {
      gap: 0;
    }

  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__like {
    position: absolute;
    top: 10px;
    right: 13px;
  }

  &__price {
    font-size: clamp(0.6rem, 5.2vw, 1.5rem); // Менший розмір шрифту
    font-weight: 400;
    line-height: 1.75rem;
    color: $primary-color;
    white-space: nowrap;

    &-old {
      color: $text-color;
      font-size: 0.81rem;
      font-weight: 400;
      line-height: 1.13rem;
      text-decoration-line: line-through;
      white-space: nowrap;
    }
  }

  &__img {
    border-radius: 1.25rem;
  }

  // Адаптивність
  @media (max-width: $breakpoint-xl) {
    max-width: 303px;
  }

  @media (max-width: $breakpoint-lg) {
    max-width: 226px;
    padding: 13px;
  }

  @media (max-width: $breakpoint-md) {
    max-width: 250px;
  }

  @media (max-width: $breakpoint-sm) {
    max-width: calc(50% - 3px); // Дві картки в ряд з відступами
    padding: 10px;
    gap: 8px;
  }
}

/* кнопка <ДЕТАЛЬНІШЕ> hover ефект */
.card-car .btn {
    border: 1px solid white;
    box-sizing: border-box;
}
.card-car .btn:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}

/* інформаційне повідомлення або статус  відображати у каталозі <ПРОДАНО> */
.card-car__header__a-wrapper{
    position: relative;
}

