@import "../variables.scss";

.card-car {
	display: flex;
	flex-direction: column;
	padding: 25px;
	background-color: #fff;
	border-radius: 2.19rem;
	gap: 17px;
	max-width: 400px;

	&__header {
		position: relative;
		max-height: 257px;
	}
	&__body {
		display: grid;
		grid-template-columns: max-content max-content;
		justify-content: space-between;
		gap: 12px 0;
		p {
			display: flex;
			align-items: center;
		}
		&-icon {
			filter: invert(58%) sepia(89%) saturate(2%) hue-rotate(314deg)
				brightness(88%) contrast(88%);
			margin-right: 12px;
		}
	}
	&__footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__like {
		position: absolute;
		top: 10px;
		right: 13px;
	}

	&__price {
		font-size: 1.5rem;
		font-weight: 400;
		line-height: 1.75rem;
		color: $primary-color;
		&-old {
            color: $text-color;
			font-size: 0.81rem;
			font-weight: 400;
			line-height: 1.13rem;
			letter-spacing: 0%;
			text-decoration-line: line-through;
		}
	}

	&__img {
		border-radius: 1.25rem;
	}
}
