@import "../variables.scss";

.contact-form {
	background-color: $primary-color; // Red background
	color: $background-color; // White text
	padding: 45px 0;
    margin: 45px 0;
	text-align: center;
    border-radius: 1.25rem;

	&__title {
		font-size: 2.38rem;
		font-weight: 500;
		line-height: 2.5rem;
		margin-bottom: 10px;
	}

	&__subtitle {
		font-size: 1.25rem;
		font-weight: 400;
		line-height: 1.5rem;

		&__note {
			font-size: 1.13rem;
			font-weight: 400;
			line-height: 1.75rem;
			display: block;
			margin-top: 10px;
		}
	}

	&__fields {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		justify-content: center;
		align-items: center;
        margin: 60px 0;

		.contact-form__input {
			width: 90%;
			max-width: 400px;
			padding: 10px;
			border-radius: 3.13rem;
			border: none;
			height: 35px;
			padding: 20px 17px;
			//color: #fff;
			outline: none;
			margin: 5px;
			&::placeholder {
				color: #999999;
			}
		}

		.contact-form__button {
			color: #ffffff; // White text
			padding: 10px 20px;
			border: none;
            border-radius: 3.13rem;
            /* #191919 */
            background: rgb(25, 25, 25);
			font-size: 16px;
			cursor: pointer;

			&:hover {
				background-color: #444444; // Slightly lighter black on hover
			}
		}
	}
}
