@import "../variables.scss";

$mobile_footer_width: 768px;

.footer {
  width: 100%;
  background-color: $text-color;
  color: $background-color;
  padding: 19px 0;
  margin-top: 35px;
  border-radius: 35px 35px 0px 0px;
  overflow: hidden;

  &__content {
    display: flex;
    justify-content: right;
    gap: 1px;
    flex-wrap: wrap;
    padding: 0 5px;

    @media screen and (min-width: $mobile_footer_width) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-areas:
				"title title phones"
				"logo adres socIcons"
				"map map map"
				"footer footer footer";
      align-items: end;
    }
  }

  &__title {
    span {
      font-weight: 700;
    }

    display: block;
    font-size: clamp(2rem, 1.935rem + 1.848vw, 3.5rem);
    font-weight: 200;
    line-height: 3.75rem;
    margin-bottom: 15px;
    @media screen and (min-width: $mobile_footer_width) {
      grid-area: title;
      align-self: start;
    }
    @media screen and (max-width: $mobile_footer_width) {
      width: 100%;
    }
  }

  &__logo {
    //width: 230px;
    width: 50%;
    margin-bottom: 15px;
    width: 49%;
    margin-bottom: 0;
    @media screen and (min-width: $mobile_footer_width) {
      grid-area: logo;
    }
  }

  &__phones {
    columns: 1;
    width: 50%;
    @media screen and (min-width: $mobile_footer_width) {
      display: flex;
      grid-area: phones;
      justify-self: end;
    }
  }

  &__phone {
    display: flex;
    width: fit-content;
    color: $background-color;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: clamp(0.688rem, 0.668rem + 0.571vw, 1.125rem);
    font-weight: 100;
    line-height: 28px;
    border-radius: 20px;
    padding: 4.5px 15px;
    white-space: nowrap;
    font-family: sans-serif;

    margin-bottom: 15px;
    @media screen and (max-width: $mobile_footer_width) {
      padding: 1.5px 9px;
      margin-top: 0;
      //font-size: 11px;
    }
  }

  &__up {
    width: fit-content;
    color: $text-color;
    background-color: $background-color;
    border: 0.5px solid rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 100;
    line-height: 28px;
    border-radius: 20px;
    padding: 4.5px 15px;

    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer;
    display: none; // Приховуємо за замовчуванням
    transition: opacity 0.3s;
    z-index: 100;

    &.visible {
      display: flex;
      opacity: 1;
    }

    &.hidden {
      opacity: 0;
      display: none;
    }
  }

  &__socIcons {
    display: flex;

    span {
      width: 31px;
      margin: 0 10px;
    }

    @media screen and (min-width: $mobile_footer_width) {
      grid-area: socIcons;
      justify-self: end;
    }
  }

  &__adres {
    font-size: clamp(0.9rem, 0.0513rem + 0.0619vw, 1.13rem);
    font-weight: 400;
    line-height: 1.75rem;
    text-align: center;
    width: 100%;
    @media screen and (min-width: $mobile_footer_width) {
      grid-area: adres;
      align-self: center;
    }
  }

  &__map {
    min-height: 120px;
    width: 100%;
    border-radius: 10px;
    @media screen and (min-width: $mobile_footer_width) {
      grid-area: map;
    }
  }

  &__footer {
    color: rgb(153, 153, 153);
    font-family: e-Ukraine;
    font-size: 10px;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    @media screen and (min-width: $mobile_footer_width) {
      grid-area: footer;
    }
  }
}


/* FOOTER  */
/* footer phone */
.footer__phone {
  color: rgb(114 106 106);
  border: 2px solid rgb(114 106 106);
  display: flex;
  align-items: flex-end;
}

.footer__phone .icon__phone {
  margin-right: 10px;
}

/* footer logo */
.footer__logo svg {
  //filter: initial;
  max-width: 200px;
  @media screen and (max-width: $mobile_footer_width) {
    width: 100%;
  }
  width: 262px;
  height: 93px;
  //filter: brightness(0) invert(1);
}