@import "../variables.scss";

.footer {
	width: 100%;
	background-color: $text-color;
	color: $background-color;
	padding: 19px 0;
	margin-top: 35px;
	border-radius: 35px 35px 0px 0px;

	&__title {
		font-size: 26px;
		font-weight: 200;
		line-height: 28px;
		letter-spacing: -2%;
	}

	&__logo {
		width: 230px;
	}

	&__phone {
		display: flex;
		width: fit-content;
		color: $background-color;
		border: 0.5px solid rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 100;
		line-height: 28px;
		border-radius: 20px;
		padding: 4.5px 15px;
	}

	&__up {
		display: flex;
		width: fit-content;
		color: $text-color;
		background-color: $background-color;
		border: 0.5px solid rgb(255, 255, 255);
		font-size: 18px;
		font-weight: 100;
		line-height: 28px;
		border-radius: 20px;
		padding: 4.5px 15px;
	}

	&__socIcons {
		display: flex;

		span {
			width: 31px;
			margin: 0 10px;
		}
	}

	&__adres {
		font-size: 13px;
		font-weight: 400;
		line-height: 18px;
		letter-spacing: -2%;
	}

	&__map {
		min-height: 120px;
		width: 100%;
		border-radius: 10px;
	}

	&__footer {
		color: rgb(153, 153, 153);
		font-family: e-Ukraine;
		font-size: 10px;
		font-weight: 100;
		line-height: 18px;
		letter-spacing: 0%;
		text-align: center;
	}

}