@import "../variables.scss";

.form {
	display: flex;
	flex-direction: column;
	border: 0.06rem solid $border-color-form;
	border-radius: 1.25rem;
	background-color: $background-color-form;
	padding: 31px 41px;
	color: #fff;
    max-width: 365px;
	input {
		border-radius: 3.13rem;
        border: none;
		background: rgba(153, 153, 153, 0.32);
        height: 35px;
        padding: 20px 17px;
        color: #fff;
        outline: none;
        margin: 5px;
        width: 100%;
        &::placeholder{
            color: #999999;
        }
	}
    &__inputs{
        margin-top: 40px;
    }
	&__title {
        text-align: center;
        margin-bottom: 12px;
	}
    &__sub{
        width: 100%;
        margin-top: 30px;
    }
}
