@import "../variables.scss";
/* Загальний стиль форми */
$form-border-radius: 40px;

.base-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid $primary-color;
  border-radius: $form-border-radius;
  background-color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;

  .errors {
    color: $primary-color;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      color: #333;
    }

    input,
    textarea {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #ccc;
      border-radius: $form-border-radius;
      font-size: 16px;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }
  }

  fieldset {
    margin-bottom: 20px;
    border: none;

    legend {
      font-size: 18px;
      font-weight: bold;
      color: #333;
      margin-bottom: 10px;
    }

    > div {
      display: grid;
      gap: 10px;
      grid-template-columns: 1fr 1fr 1fr;
      @media screen and (max-width: 425px) {
        grid-template-columns: 1fr 1fr;
        gap: 3px;
      }

      > div {
        label {
          display: flex;
          align-items: center;
        }
      }
    }

    input[type="checkbox"],
    input[type="radio"] {
      //appearance: none;
      width: 20px;
      height: 20px;
      margin-right: 10px;
      border: 2px solid #ccc;
      outline: none;
      cursor: pointer;
      transition: background-color 0.3s ease, border-color 0.3s ease;

      &:checked {
        background-color: $primary-color;
        border-color: $primary-color;
      }
    }
    input[type="checkbox"],{
      border-radius: 4px;
    }
    input[type="radio"]{
      border-radius: 50%;
    }
  }

  textarea {
    resize: none;
  }

  button[type="submit"] {
    display: inline-block;
    background-color: $primary-color;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: $form-border-radius;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }

  .choices{
    border-radius: 50px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 9px 0px rgba(25, 25, 25, 0.1);
    //&[data-type*=select-one]::after {
    //  border-color: $primary-color transparent transparent;
    //}
    //&[data-type*=select-one].is-open::after {
    //  //border-color: $primary-color transparent transparent;
    //}
    &__inner{
      border: none;
    }
  }
}


.select {
  position: relative;
  width: 100%;
  max-width: 300px;

  &__trigger {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    &-text {
      font-size: 16px;
      color: #333;
    }

    &::after {
      content: '';
      width: 8px;
      height: 8px;
      margin-left: 10px;
      border-right: 2px solid #007bff;
      border-bottom: 2px solid #007bff;
      transform: rotate(45deg);
      transition: transform 0.2s;
    }
  }

  &__arrow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-right: 2px solid #007bff;
    border-bottom: 2px solid #007bff;
    transform: rotate(45deg);
    transition: transform 0.3s;
  }

  &__options {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 2px solid #007bff;
    border-radius: 5px;
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 10;

    &.select__options--visible {
      display: block;
    }
  }

  &__option {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
    color: #333;

    &:hover {
      background-color: #f1f1f1;
    }
  }

  &--open &__arrow {
    transform: rotate(-135deg);
  }
}

