.card-car__header .image {
    width: 350px;
    height: 262px;
    border-radius: 1.25rem;
    border: 1px solid #eee;
}
.hidden {
    display: none;
}
div.filter-form {
    position: absolute;
    //width: 350px;
    //background: white;
    z-index: 1001;
    //padding: 20px;
    border-radius: 10px;
    right: 50%;
    top: 0;
    transform: translate(50%, 10%);
    max-height: 85vh;
    //border: 1px solid #eee;
}
div.filter-form input, div.filter-form select {
    overflow: hidden;
    max-width: 300px;
    width: 100%;
    display: block;
}
