@import "../variables.scss";

.header {
	z-index: $z-index-header;

	position: absolute;
	background-color: #fff;
	border-radius: 0rem 0rem 2.19rem 2.19rem;
	width: 100%;

	padding: 0.88rem 7.94rem 0.88rem 7.94rem;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: $container-width;
		margin: 0 auto;
	}

	&__logo {
		img {
			max-height: 50px;
		}
	}
}
