@import '../variables.scss';

.mobileMenu{
    position: fixed;
    display: block;
    z-index: $z-index-modal;
    top: 0; right: -350px;
    height: 100vh;
    width: 350px;
    background-color: $background-color;
    transition-duration: 500ms;
    @media screen and (min-width: $breakpoint-md) {
        display: none;
    }
    &:target{
        transform: translateX(-350px);
    }
}