@import "../variables.scss";

.product {
  overflow: hidden;

  &__wraper {
    display: flex;
    gap: 43px;
    border-radius: 35px;
    box-shadow: 0px 0px 9px 0px rgba(25, 25, 25, 0.1);
    /* #FFFFFF */
    background: rgb(255, 255, 255);
    padding: 35px;
    padding-bottom: 70px;

    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
  }

  &__slider {
    position: relative;
    display: flex;
    align-items: center;
    height: fit-content;
    margin: auto 0;

    .product__imgs {
      display: flex;
      overflow: hidden;
      // width: 400px;

      .product__img {
        display: none;
        width: 100%;
        max-width: 48.44rem;
        max-height: 41.63rem;
        transition: opacity 0.5s ease;
        border-radius: 1.25rem;

        &.active {
          display: block;
        }
      }
    }

    .slider__btn {
      width: 2.5rem;
      height: 2.5rem;
      background-repeat: no-repeat;
      background-size: contain;
      border: none;
      background-color: #bbbbbb00;
      cursor: pointer;
      position: absolute;
      z-index: 10;

      padding-block: 0;
      padding-inline: 0;

      &--prev {
        background-image: url("../images/icons/slider.svg");
        left: 10px;
        transform: rotate(90deg);
      }

      &--next {
        background-image: url("../images/icons/slider.svg");
        right: 10px;
        transform: rotate(-90deg);
      }

      &--fullscreen {
        background-image: url("../images/icons/arrow-maximize.svg");
        right: 10px;
        bottom: 10px;
      }
    }
  }

  // &__imgs {
  // 	max-width: 775px;
  // 	max-height: 666px;
  // 	border-radius: 20px;
  // 	overflow: hidden;

  // 	img {
  // 		width: 100%;
  // 		height: 100%;
  // 		object-fit: scale-down;
  // 	}
  // }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;

    .card-car__body p {
      font-size: clamp(0.6rem, 2.2vw, 1.1rem);
    }
  }

  &__header {
    h1 {
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
    }

    display: flex;
    flex-direction: column;
    gap: 13px;
  }

  &__status {
    border-radius: 3.13rem;
    font-size: 0.81rem;
    font-weight: 400;
    line-height: 1.13rem;
    text-transform: uppercase;
    padding: 8px 22px;
    width: fit-content;

    &-inStock {
      background: rgb(236, 255, 233);
      color: rgb(78, 165, 37);
    }
  }

  &__prices {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;

    &-dolar{
      &::before{
        content: "$";
      }
    }

    &-now {
      font-size: 28px;
      font-weight: 500;
      line-height: 32px;
      color: #e30613;
    }

    &-old {
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-decoration: line-through;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    padding: 8px;
    gap: 5px;
    border-radius: 7px;

    font-size: clamp(8px, 1vw, 10px);
    font-weight: 400;
    @media screen and (max-width: 450px) {
      gap: 2px;
      padding: 3px;
    }
  }

  #cash {
    background: rgb(236, 255, 233);
    color: #4ea525;

    span {
      filter: brightness(0) saturate(100%) invert(46%) sepia(89%) saturate(415%) hue-rotate(56deg) brightness(99%) contrast(87%);
    }
  }

  #building-bank {
    background: rgb(247, 244, 252);

    span {
      filter: brightness(0) saturate(100%) invert(61%) sepia(62%) saturate(4884%) hue-rotate(238deg) brightness(92%) contrast(85%);
    }
  }

  #currency-bitcoin {
    background: rgb(252, 249, 197);

    span {
      filter: brightness(0) saturate(100%) invert(80%) sepia(50%) saturate(348%) hue-rotate(350deg) brightness(95%) contrast(86%);
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32;
    padding: 0px;
    border-radius: 50px;
    /* #191919 */
    background: rgb(25, 25, 25);
    padding: 8px 30px;
    border: none;

    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;

    cursor: pointer;
    width: 100%;

    &-outlined {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 32;
      padding: 8px 40px;

      width: 100%;

      box-sizing: border-box;
      /* #191919 */
      border: 1px solid rgb(25, 25, 25);
      border-radius: 50px;

      background-color: white;
      color: rgb(25, 25, 25);

      //font-size: 20px;
      font-size: clamp(0.8drem, 2.2vw, 26px);
      font-weight: 400;
      line-height: 24px;
      text-align: center;
      text-transform: uppercase;

      cursor: pointer;
    }

    &-red {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 50px;
      /* #E30613 */
      background: rgb(227, 6, 19);
      color: rgb(255, 255, 255);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;
      border: none;
      width: 100%;
      padding: 8px 30px;
    }

    &-white {
      color: rgb(255, 255, 255);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      text-align: center;
      text-transform: uppercase;

      color: rgb(25, 25, 25);
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      text-transform: uppercase;

      border-radius: 50px;
      /* #F3F6FB */
      background: rgb(243, 246, 251);
      border: none;
      padding: 8px 30px;
      width: 100%;
      height: 100%;

      padding-block: 0px;
      padding-inline: 0px;
    }
  }

  &__tabs {
    margin: 45px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    @media (max-width: $breakpoint-md) {
      grid-template-columns: 1fr;
    }

    li {
      display: block;
      border-radius: 3.13rem;
      /* #191919 */
      padding: 14px 10px;
      cursor: pointer;
      font-size: 0.81rem;
      font-weight: 500;
      line-height: 1.13rem;
      text-align: center;
    }

    #complect {
      color: rgb(255, 255, 255);
      background: rgb(25, 25, 25);
    }

    #description {
      background: rgb(255, 255, 255);
    }

    #credit {
      border: 0.06rem solid rgb(78, 165, 37);
      border-radius: 3.13rem;
      /* #FFFFFF */
      background: rgb(255, 255, 255);
    }
  }

  &__tab {
    border-radius: 2.19rem;
    box-shadow: 0rem 0rem 0.56rem 0rem rgba(25, 25, 25, 0.1);
    background: rgb(255, 255, 255);
    padding: 35px;

    &-complect {
      ul {
        column-count: 3; /* Ділимо список на 3 колонки */
        column-gap: 20px;
        @media (max-width: 576px) {
          column-count: 2; /* Ділимо список на 3 колонки */
        }
        @media (max-width: 425px) {
          column-count: 1; /* Ділимо список на 3 колонки */
        }
      }
    }
  }
}

.product-modal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  align-items: center;
  justify-content: center;

  .modal__content {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
    display: block;
  }

  .modal__close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;

    &:hover {
      color: #bbb;
    }
  }
}
.touch-area {
            position: absolute;
            top: 40px;
            bottom: 40px;
            width: 30%;
            z-index: 9;
            cursor: pointer;
        }
        .touch-area--left {
            left: 0;
        }
        .touch-area--right {
            right: 0;
        }
.youtube-360 {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.youtube-360 .icon {
  width: 2rem;
  height: 2rem;
}

span.measure {
  font-size: small;
  font-weight: bold;
  margin-left: 2px;
}

.measure {
  white-space: nowrap;
}

.item-status-0 {
  background: rgb(236, 255, 233);
  color: rgb(78, 165, 37);
}

.item-status-1 {
  background-color: #F8F7DC;
}

.item-status-2 {
  background-color: #e1ffcb;
}

.item-status-3 {
  background-color: #ffcccc;
}

.item-status-4 {
  background-color: #ffff66;
}

.item-status-5 {
  background-color: #e7fb99;
}

.item-status-6 {
  background-color: #d5e3f8;
}

.item-status-7 {
  background-color: #E2E0E0;
}

.item-status-8 {
  background-color: #99ffcc;
}

.item-status-9 {
  background-color: #ffcccc;
}

.item-status-10 {
  background-color: #fcdd94;
}

.item-status-11 {
  background-color: #c1eaf9;
}