@import '../variables.scss';

.sectionGeneral{
    width: 100%;
    margin: 45px auto;
    &__title{
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 25px;
    }
    &__grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 25px;
    }
    &__midleBtn{
        margin: 0 auto;
        margin-top: 25px;
    }
}

.sectionGeneral-contrast{
    color: #fff;
    margin: 0 30px;
    padding: 40px 0;
    background-color: $text-color;
    border-radius: 1.25rem;
    &__title{
        text-align: center;
    }
}