@font-face {
	font-family: 'e-Ukraine';
    src: url('../fonts/e-ukraine-light_w.ttf');
}

body {
	color: rgb(0, 0, 0);
	font-family: "e-Ukraine";
}

h1 {
	font-size: 56px;
	font-weight: 400;
	line-height: 64px;
	letter-spacing: 0%;
	text-align: left;
}
