.icon {
  width: 1.5rem;
  height: 1.5rem;
  background-size: cover;
  background-position: center;
  display: block;
}
.icon__white {
  filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(63deg) brightness(97%) contrast(98%);
}
.icon__like {
  background-image: url(../images/icons/like.svg);
}
.icon__user {
  background-image: url(../images/icons/user.svg);
}
.icon__heart-fill {
  background-image: url(../images/icons/heart-fill.svg);
}
.icon__calendar-month {
  background-image: url(../images/icons/calendar-month.svg);
}
.icon__dashboard {
  background-image: url(../images/icons/dashboard.svg);
}
.icon__gas-station {
  background-image: url(../images/icons/gas-station.svg);
}
.icon__droplet {
  background-image: url(../images/icons/droplet.svg);
}
.icon__bolt {
  background-image: url(../images/icons/bolt.svg);
}
.icon__car-turbine {
  background-image: url(../images/icons/car-turbine.svg);
}
.icon__automatic-gearbox {
  background-image: url(../images/icons/automatic-gearbox.svg);
}
.icon__car {
  background-image: url(../images/icons/car.svg);
}
.icon__gavel {
  background-image: url(../images/icons/gavel.svg);
}
.icon__report-money {
  background-image: url(../images/icons/report-money.svg);
}
.icon__shield-lock {
  background-image: url(../images/icons/shield-lock.svg);
}
.icon__menu {
  background-image: url(../images/icons/menu.svg);
}
.icon__phone {
  background-image: url(../images/icons/phone.svg);
}
.icon__telegram {
  background-image: url(../images/icons/brand-telegram.svg);
}
.icon__arrow-up {
  background-image: url(../images/icons/arrow-up.svg);
}