.header {
  z-index: 1000;
  position: absolute;
  background-color: #fff;
  border-radius: 0rem 0rem 2.19rem 2.19rem;
  width: 100%;
  padding: 0.88rem 7.94rem 0.88rem 7.94rem;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.header__logo img {
  max-height: 50px;
}