.baner {
  z-index: 0;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 0rem 0rem 2.19rem 2.19rem;
  overflow: hidden;
}
.baner__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1200px;
}
.baner__info {
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 507px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: 0%;
  text-align: left;
}
.baner__info h1 {
  margin-right: 83px;
}
.baner__info * {
  margin: 15px 0;
}
.baner img {
  object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1000;
  filter: brightness(50%);
  transform: scale(1.1, 1.1);
}