.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 62px 0;
}
.services__title {
  font-size: 0.81rem;
  font-weight: 500;
  line-height: 1.13rem;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 10px;
}
.services__header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  box-shadow: 0rem 0rem 6.56rem 0rem rgb(227, 6, 19);
  background: rgb(255, 255, 255);
  padding: 20px;
  min-width: 105px;
  min-height: 105px;
}
.services__icon {
  display: block;
  width: 83px;
  height: 83px;
  background-size: cover;
  background-position: center;
}