<section class="about">
	<div class="container">
		<h2 class="page__title">Про нас</h2>
		<div class="about__description">
			<p class="about__text">
				Уже більше 15 років наша компанія дарує клієнтам радість від покупки
				якісних автомобілів із Європи
			</p>
			<p class="about__text">
				Всі автомобілі європейської якості, з реальним пробігом і повною
				історією обслуговування
			</p>
			<p class="about__text">
				Підбір автомобіля із врахуванням усіх побажань клієнта щодо марки,
				комплектації та бюджету
			</p>
			<p class="about__text">Можливість купівлі авто у лізинг або кредит</p>
			<p class="about__text">
				Постійне оновлення каталогу
				<a style="color: #239ad6" href="/autoin/">НАЯВНИХ</a> автомобілів
			</p>
			<p class="about__text">Співпраця із офіційними дилерами</p>
			<p class="about__text">
				Укладання всіх необхідних договорів, здійснення підготовки документів,
				отримання дозвільної документації, проходження митних процедур,
				постановка автомобіля на облік -
				<span style="color: #d70102"
					>все у одному місці та у найкоротші терміни!</span
				>
			</p>
			<p class="about__text">
				Повний фотоогляд каталогу наявних автомобілів із усіма деталями салону
				та комплектації. Не виходячи з дому, Ви маєте можливість детально
				розглянути бажаний автомобіль у всіх подробицях на нашому
				<a style="color: #239ad6" href="https://t.me/AutoDvig"
					>Telegram-каналі</a
				>
				або <a href="/">веб-сайті</a>
			</p>
			<p class="about__text">
				З нами клієнти економлять свій час на пошук автомобіля і всі інші
				процедури, необхідні для постановки на обліку сервісних центрах МВС
				(МРЕВ).<br />
				Багато щасливих клієнтів,
				<a style="color: #239ad6" href="/customers/">фотографії</a> з якими ми
				часто публікуємо на
				<a style="color: #239ad6" href="https://www.instagram.com/auto_dvig/"
					>Instagram-акаунті</a
				>.
			</p>
		</div>
	</div>
</section>
