<div class="card-car">
    <div class="card-car__header">
        <img class="card-car__img" src="../assets/images/car1.png" alt="">
        <span class="card-car__like icon icon__like"></span>
    </div>
    <h3 class="card-car__titel">Chevrolet SSR (Super Sport Roadster)</h3>
    <div class="card-car__body">
        <p><span class="icon card-car__body-icon icon__calendar-month"></span>2022</p>
        <p><span class="icon card-car__body-icon icon__dashboard"></span>98 тис. км</p>
        <p><span class="icon card-car__body-icon icon__gas-station"></span>дизель</p>
        <p><span class="icon card-car__body-icon icon__droplet"></span>2.0л</p>
        <p><span class="icon card-car__body-icon icon__bolt"></span>239 к.с</p>
        <p><span class="icon card-car__body-icon icon__car-turbine"></span>176 кВТ</p>
        <p><span class="icon card-car__body-icon icon__automatic-gearbox"></span>автомат</p>
        <p><span class="icon card-car__body-icon icon__car-turbine"></span>повний</p>

    </div>
    <div class="card-car__footer">
        <div class="card-car__price">
            <p class="card-car__price-old">$32 499</p>
            <p>$37 999</p>
        </div>
        <button class="btn">Детальніше</button>
    </div>
</div>