<section class="contacts">
	<div class="container">
        <h1 class="page__title">Контакти</h1>
		<div class="contacts__wraper">
			<div class="contacts__map-wrapper">
				<iframe
					class="contacts__map"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10098.047751853503!2d25.4390861!3d50.7475405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x23d976a724ca7d0!2sAutoDvig!5e0!3m2!1suk!2sua!4v1656592467875!5m2!1suk!2sua"
					width="500"
					height="500"
					style="border: 0"
					allowfullscreen=""
					loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"
				></iframe>
			</div>
			<div class="contacts__info">
				<h4 class="page__subtitle">Ми поряд</h4>
				<div class="contacts__subtitle">Адреса</div>
				<a
					class="contacts__link contacts__link--address"
					href="https://goo.gl/maps/oAbQfEes35MX6KWT6"
					target="_blank"
					rel="noopener"
				>
					вул. Рівненська, 154а, с. Струмівка, Луцький р-н, Волинська область,
					Україна, 45603
				</a>
				<div class="contacts__subtitle">Зв'яжіться з нами</div>
				<a class="contacts__link contacts__link--phone" href="tel:+380991122777"
					>+38(099)11-22-777</a
				>
				<a class="contacts__link contacts__link--phone" href="tel:+380506026605"
					>+38(050)602-66-05</a
				>
				<a
					class="contacts__link contacts__link--email"
					href="mailto:autodvig2019@gmail.com"
					>autodvig2019@gmail.com</a
				>
				<div class="contacts__subtitle">Години</div>
				<div class="contacts__schedule">
					<p class="contacts__schedule-item">Пн – Пт: 9.00 – 18.00</p>
					<p class="contacts__schedule-item">Сб: 9.00 – 17:00</p>
					<p class="contacts__schedule-item">Нд: 9.00 – 13:00</p>
				</div>
				<div class="contacts__subtitle">Підписуйтесь</div>
				<div class="contacts__social">
					<a
						class="contacts__social-link"
						href="https://www.facebook.com/AutoDvigUA"
						target="_blank"
						>Facebook</a
					>
					<a
						class="contacts__social-link"
						href="https://www.instagram.com/auto_dvig/"
						target="_blank"
						>Instagram</a
					>
					<a
						class="contacts__social-link"
						href="https://www.youtube.com/channel/UC9xaCpSV8BFm3mj5DkoLguA"
						target="_blank"
						>YouTube</a
					>
					<a
						class="contacts__social-link"
						href="https://t.me/AutoDvig"
						target="_blank"
						>Telegram</a
					>
					<a
						class="contacts__social-link"
						href="https://www.tiktok.com/@auto_dvig_ua?_t=8WFVPh1bes9&amp;_r=1"
						target="_blank"
						>TikTok</a
					>
				</div>
			</div>
		</div>
	</div>
</section>
