<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<h2>АВТО без ДТП</h2>
			<img src="../assets/images/logo.png" alt="" />
			<p>Луцький р-н, с. Струмівка, вул. Рівненська, 154а</p>
			<div class="footer__phones">
				<button class="btn">
					<span class="icon icon__phone"></span> 099 11 22 7777
				</button>
				<button class="btn">
					<span class="icon icon__phone"></span> 099 11 22 7777
				</button>
			</div>
			<div class="footer__social">
				<span class="icon icon__telegram"></span>
				<span class="icon icon__telegram"></span>
				<span class="icon icon__telegram"></span>
				<span class="icon icon__telegram"></span>
				<span class="icon icon__telegram"></span>
			</div>
			<div class="footer__map"></div>
		</div>
	</div>
</footer>
