<footer class="footer">
	<div class="container">
		<h2 class="footrt__title">АВТО  без ДТП</h2>
		<img class="footer__logo" src="../assets/images/logo.png" alt="">
		<div class="footer__phones">
			<a class="footer__phone" href=""><span class="icon icon__phone icon__white"></span> 099 11 22 777</a>
			<a class="footer__phone" href=""><span class="icon icon__phone icon__white"></span> 099 11 22 777</a>
			<a class="footer__up" href="">ВГОРУ <span class="icon icon__arrow-up"></span></a>
		</div>
		<div class="footer__socIcons">
			<span class="icon icon__telegram icon__white"></span>
			<span class="icon icon__telegram icon__white"></span>
			<span class="icon icon__telegram icon__white"></span>
			<span class="icon icon__telegram icon__white"></span>
			<span class="icon icon__telegram icon__white"></span>
		</div>
		<p class="footer__adres">Луцький р-н, с. Струмівка, вул. Рівненська, 154а</p>
		<div class="footer__map"></div>
		<p class="footer__footer">Copyright © 2024 Усі права захищено</p>
	</div>
</footer>
