<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><a href="#" class="header__nav-link">Головна</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Каталог</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Послуги</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Клієнти</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Про нас</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Контакти</a></li>
  </ul>
</nav>  