<nav class="header__nav">
  <ul class="header__nav-list">
    <li class="header__nav-item"><a href="#" class="header__nav-link header__nav-link-select">Головна</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Каталог</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Послуги</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Клієнти</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Про нас</a></li>
    <li class="header__nav-item"><a href="#" class="header__nav-link">Контакти</a></li>
    <li class="header__nav-item"><a href=""> <button class="btn">замовити авто</button></a></li>
    <li class="header__nav-item"><a href=""><span class="icon icon__like"></span></a></li>
    <li class="header__nav-item"><a href=""><span class="icon icon__user"></span></a></li>
  </ul>
</nav>  