<section class="product">
    <div class="container">
        <div class="product__wraper">
            <div class="product__imgs">
                <img src="../assets/images/car1.png" alt="" class="product__img">
            </div>
            <div class="product__info">
                <div class="product__header">
                    <h1>Chevrolet SSR (Super Sport Roadster)</h1>
                    <div class="product__prices">
                        <span class="product__prices-now">31500$</span> <span class="product__prices-old">32500$</span>
                    </div>
                    <div class="">
                        <p>Можливий розрахунок:</p>
                        <div class="product__pays">
                            <div class="" style="display: flex; flex-wrap: wrap; gap: 5px;">
                                <div class="product__icon">
                                    <span class="icon icon__cash"></span> <span>Готівкою</span>
                                </div>
                                <div class="product__icon">
                                    <span class="icon icon__cash"></span> <span>Готівкою</span>
                                </div>
                                <div class="product__icon">
                                    <span class="icon icon__cash"></span> <span>Готівкою</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-car__body">
                    <p><span class="icon card-car__body-icon icon__calendar-month"></span>2022</p>
                    <p><span class="icon card-car__body-icon icon__dashboard"></span>98 тис. км</p>
                    <p><span class="icon card-car__body-icon icon__gas-station"></span>дизель</p>
                    <p><span class="icon card-car__body-icon icon__droplet"></span>2.0л</p>
                    <p><span class="icon card-car__body-icon icon__bolt"></span>239 к.с</p>
                    <p><span class="icon card-car__body-icon icon__car-turbine"></span>176 кВТ</p>
                    <p><span class="icon card-car__body-icon icon__automatic-gearbox"></span>автомат</p>
                    <p><span class="icon card-car__body-icon icon__car-turbine"></span>повний</p>
                </div>
                <div style="display: flex; flex-wrap: wrap;  gap: 5px; align-items: center; justify-content: center;">
                    <span class="icon icon__youtube"></span> <span class="icon icon__cash"></span>
                </div>
                <button class="product__btn-outlined">wvwzzz3cme008033 <span class="icon icon__copy"  style="position: absolute; top: 10px; right: 15px;"></span></button>
                <button class="product__btn">історія від дилера</button>
                <div style="display: grid; grid-template-columns: 1fr 1fr;  gap: 14px;">
                    <button class="product__btn-white">написати</button>
                    <button class="product__btn-red">Подзвонити</button>
                </div>
            </div>
        </div>

    </div>
</section>