<section class="baner">
	<div class="container">
		<div class="baner__content">

			<div class="baner__info">
				<h1>Auto Dvig - купити авто з Європи під ключ</h1>
				<p>Пригін авто на вигідних умовах, з гарантією та оформленням!</p>
				<button class="btn btn-ukraine">ПІДТРИМАТИ ЗСУ</button>
			</div>
			<form action="" method="" class="form">
				<h3 class="form__title">Консультація та замовлення*</h3>
				<p>*Працюємо з авто не старше 5-ти років!</p>
				<div class="form__inputs">
					<input type="text" placeholder="Імʼя" />
					<input type="text" placeholder="Номер телефону" />
				</div>
				<button class="btn form__sub">Надіслати</button>
			</form>
		</div>
	</div>
	<img src="../assets/images/baner1.jpeg" alt="" />
</section>