@import "./variables.scss";

.icon {
	width: 1.5rem;
	height: 1.5rem;
	background-size: cover;
	background-position: center;
	display: block;
	cursor: pointer;

	&__white {
		filter: invert(100%) sepia(0%) saturate(7456%) hue-rotate(63deg)
			brightness(97%) contrast(98%);
	}

	&__like {
		background-image: url(../images/icons/like.svg);
	}
	&__user {
		background-image: url(../images/icons/user.svg);
	}
	&__heart-fill {
		background-image: url(../images/icons/heart-fill.svg);
	}
	&__calendar-month {
		background-image: url(../images/icons/calendar-month.svg);
	}
	&__dashboard {
		background-image: url(../images/icons/dashboard.svg);
	}
	&__gas-station {
		background-image: url(../images/icons/gas-station.svg);
	}
	&__droplet {
		background-image: url(../images/icons/droplet.svg);
	}
	&__bolt {
		background-image: url(../images/icons/bolt.svg);
	}
	&__car-turbine {
		background-image: url(../images/icons/car-turbine.svg);
	}
	&__automatic-gearbox {
		background-image: url(../images/icons/automatic-gearbox.svg);
	}
	&__car {
		background-image: url(../images/icons/car.svg);
	}
	&__gavel {
		background-image: url(../images/icons/gavel.svg);
	}
	&__report-money {
		background-image: url(../images/icons/report-money.svg);
	}
	&__shield-lock {
		background-image: url(../images/icons/shield-lock.svg);
	}
	&__menu {
		background-image: url(../images/icons/menu.svg);
	}
	&__phone {
		background-image: url(../images/icons/phone.svg);
	}
	&__telegram {
		background-image: url(../images/icons/brand-telegram.svg);
	}
	&__arrow-up {
		background-image: url(../images/icons/arrow-up.svg);
	}
	&__adjustments-horizontal {
		background-image: url(../images/icons/adjustments-horizontal.svg);
	}
	&__youtube {
		background-image: url(../images/icons/brand-youtube.svg);
	}
	&__instagram {
		background-image: url(../images/icons/brand-instagram.svg);
	}
	&__tiktok {
		background-image: url(../images/icons/brand-tiktok.svg);
	}
	&__whatsapp {
		background-image: url(../images/icons/brand-whatsapp.svg);
	}
	&__360-number {
		background-image: url(../images/icons/360-number.svg);
	}
	&__arrow-up {
		background-image: url(../images/icons/arrow-up.svg);
	}
	&__cash {
		background-image: url(../images/icons/cash.svg);
	}
	&__copy {
		background-image: url(../images/icons/copy.svg);
	}
	&__building-bank {
		background-image: url(../images/icons/building-bank.svg);
	}
	&__currency-bitcoin {
		background-image: url(../images/icons/currency-bitcoin.svg);
	}
	&__car-4wd {
		background-image: url(../images/icons/car-4wd.svg);
	}
	&__battery-vertical {
		background-image: url(../images/icons/battery-vertical.svg);
	}
}
