@import './setDefault.scss';

@import './variables.scss';
@import './typography.scss';
@import './icons.scss';

// components
// @import './components/header.scss';
// @import './components/header-nav.scss';
@import './components/mobile-menu.scss';
@import './components/btn.scss';
@import './components/form.scss';
@import './components/card-car.scss';
@import './components/card-car-empty.scss';
@import './components/services.scss';
@import './components/filterBar.scss';
@import './components/promo-baner.scss';
@import './components/advantag.scss';
@import './components/product.scss';
@import './components/contact-form.scss';
@import './components/questions.scss';
@import './components/accordion.scss';
@import './components/user.scss';


@import './components/section-baner.scss';
@import './components/section-general.scss';
@import './components/footer.scss';

@import './components/auto-on-commission.scss';
@import './components/banner.scss';
@import './components/base.scss';
@import './components/font-show-car.scss';
@import './components/front-catalog.scss';
@import './components/front-customers.scss';
@import './components/front-order-car.scss';
@import './components/google-map.scss';
@import './components/google-rating.scss';

body{
    background-color: $background-color;
    overflow-x: hidden;
}

.container{
    max-width: $container-width;
    margin: 0  auto;
    padding: 5px;

    @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
      @media (min-width: 1400px) {
        max-width: 1320px;
      }
}


.hidden{
  display: none;
}