@import "./setDefault.scss";

@import "./variables.scss";
@import "./typography.scss";
@import "./icons.scss";

// components
// @import './components/header.scss';
// @import './components/header-nav.scss';
@import "./components/mobile-menu.scss";
@import "./components/btn.scss";
@import "./components/form.scss";
@import "./components/card-car.scss";
@import "./components/card-car-empty.scss";
@import "./components/services.scss";
@import "./components/filterBar.scss";
@import "./components/promo-baner.scss";
@import "./components/advantag.scss";
@import "./components/product.scss";
@import "./components/contact-form.scss";
@import "./components/questions.scss";
@import "./components/accordion.scss";
@import "./components/user.scss";
@import "./components/sectionTeem.scss";
@import "./components/baseForm.scss";
@import "./components/contacts.scss";
@import "./components/aboutus.scss";
@import "./components/messenger-options.scss";

@import "./components/section-baner.scss";
@import "./components/section-general.scss";
@import "./components/footer.scss";
@import "./components/tooltip.scss";

@import "./components/auto-on-commission.scss";
@import "./components/banner.scss";
@import "./components/base.scss";
@import "./components/font-show-car.scss";
@import "./components/front-catalog.scss";
@import "./components/front-customers.scss";
@import "./components/front-order-car.scss";
@import "./components/google-map.scss";
@import "./components/google-rating.scss";

body {
	background-color: $background-color;
	overflow-x: hidden;
	min-width: 320px;
}

.container {
	max-width: $container-width;
	margin: 0 auto;
	padding: 5px;
	overflow-x: hidden;

	@media (min-width: 576px) {
		max-width: 540px;
	}
	@media (min-width: 768px) {
		max-width: 720px;
	}
	@media (min-width: 992px) {
		max-width: 960px;
	}
	@media (min-width: 1200px) {
		max-width: 1140px;
	}
	@media (min-width: 1400px) {
		max-width: 1320px;
	}
}

.hidden {
	display: none;
}

/* приховуємо картку card-car-empty на tab: "продані", "усі"  */
.hidden-force {
    display: none!important;
}
.form__input-hidden{
	display: none;
}

//services btn
.button {
	margin-top: 15px;

	cursor: pointer;
	width: max-content;
	hyphens: manual;
	color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 20px 11.5px;
	border-radius: 50px;
	border: none;
	background-color: $primary-color;

	// Медіа запит для екранів менше 1322px
	@media screen and (max-width: 1322px) {
		padding: 3px 30px; // Зменшуємо відступи
	}

	// Медіа запит для екранів менше $breakpoint-xl
	@media screen and (max-width: $breakpoint-xl) {
		padding: 3px 8px; // Зменшуємо відступи
	}
}

.page {
	&__title {
		font-weight: 500;
		margin-bottom: 35px;
		font-size: clamp(2.6rem, 2.2vw, 3.5rem);
	}
	&__subtitle {
		font-size: 1.75rem;
		font-weight: 500;
		line-height: 2rem;
		margin-bottom: 25px;
	}
}

html {
    scroll-behavior: smooth;
}
section {
     margin-top: 45px;
}
section.baner{
		margin-top: 0;
}