@import './setDefault.scss';

@import './variables.scss';
@import './typography.scss';
@import './icons.scss';

// components
@import './components/header.scss';
@import './components/header-nav.scss';
@import './components/mobile-menu.scss';
@import './components/btn.scss';
@import './components/form.scss';
@import './components/card-car.scss';
@import './components/card-car-empty.scss';
@import './components/services.scss';
@import './components/filterBar.scss';
@import './components/promo-baner.scss';
@import './components/advantag.scss';
@import './components/product.scss';
@import './components/contact-form.scss';


@import './components/section-baner.scss';
@import './components/section-general.scss';
@import './components/footer.scss';

body{
    background-color: $background-color;
}

.container{
    max-width: $container-width;
    margin: 0  auto;

    @media (min-width: 576px) {
        max-width: 540px;
      }
      @media (min-width: 768px) {
        max-width: 720px;
      }
      @media (min-width: 992px) {
        max-width: 960px;
      }
      @media (min-width: 1200px) {
        max-width: 1140px;
      }
      @media (min-width: 1400px) {
        max-width: 1320px;
      }
}


.hidden{
  display: none;
}