@import "./variables.scss";

@font-face {
	font-family: "e-Ukraine";
	src: url("../fonts/e-ukraine-light_w.ttf");
}

body {
	color: $text-color;
	font-family: "e-Ukraine", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0%;
	text-align: left;

	@media screen and (max-width: $breakpoint-xl) {
		font-size: 0.8rem;
	}
}

.smallText {
	font-size: 0.81rem;
	font-weight: 400;
	line-height: 1.13rem;
}

.tinyText {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1rem;
}

h1 {
	font-size: 2.38rem;
	font-weight: 500;
	line-height: 2.94rem;
	letter-spacing: 2%;
	@media screen and (max-width: $breakpoint-sm) {
		font-size: 1.13rem;
	}
	@media screen and (max-width: $breakpoint-xl) {
		font-size: 2rem;
	}
}

h2 {
	font-size: 2.38rem;
	font-weight: 400;
	line-height: 2.5rem;

	@media screen and (max-width: $breakpoint-sm) {
		font-size: 1.63rem;
	}
}
h3 {
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.75rem;
}

h4 {
	// font-size: 1.5rem;
	// font-weight: 400;
	// line-height: 2rem;
}

h5 {
	font-size: 1.25rem;
	font-weight: 400;
	line-height: 1.5rem;
}

h6 {
	font-size: 1.13rem;
	font-weight: 400;
	line-height: 1.5rem;
}
